form.form {
    fieldset {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 15px;
    }
    
    label {
        font-size: 15px;
        color: var(--violet-11);
        width: 90px;
        text-align: right;
    }
    
    input {
        width: 100%;
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 0 10px;
        font-size: 15px;
        line-height: 1;
        color: var(--violet-11);
        box-shadow: 0 0 0 1px var(--violet-7);
        height: 35px;

        &.error::placeholder {
            color: var(--red)
        }
    }

    input:focus {
        box-shadow: 0 0 0 2px var(--violet-8);
    }
    
    button {
        all: unset;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 15px;
        line-height: 1;
        font-weight: 500;
        height: 35px;

        &.create {
            background-color: var(--green);
            color: var(--text-title);

            &:hover {
                background-color: var(--green-5);
            }

            &:focus {
                box-shadow: 0 0 0 2px var(--green-7);
            }
        }
        &.update {
            background-color: var(--blue-9);
            color: var(--text-title);

            &:hover {
                background-color: var(--cyan);
            }

            &:focus {
                box-shadow: 0 0 0 2px var(--blue-7);
            }
        }
    }
}

