@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '../../scss/mixins.scss';

section.task-list {
  background: var(--shapes);
  border-radius: 1rem;

  @include scalable(width, 1120, 360, .45);
  @include scalable(padding-top, 70, 45, .45);
  @include scalable(padding-bottom, 70, 45, .45);
  @include scalable(padding-left, 60, 30, .45);
  @include scalable(padding-right, 60, 30, .45);
  
  margin-top: -7rem;

  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));

  main {
    margin-top: 3rem;

    ul {
      list-style: none;
    }

    h1 {
      color: var(--text-light);
    }
  }
}



