li.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #A09CB1;
    padding: 1rem 0;

    div {
      display: flex;
      align-items: center;
      gap: 14px;
      outline: 0;

      p {
        font-size: 1rem;
        color: var(--text-title);
      }
    }

    button {
      background: transparent;
      border: 0;

      svg {
        color: var(--red);
      }

      &:hover {
        svg {
          filter: brightness(0.75)
        }
      }
    }
}